<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header">
      <h3>Editar Control Explotacion</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="guardar()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lote" class="form-label">Lote</label>
            <input type="text" id="lote" class="form-control" [(ngModel)]="controlExplotacion.lote" name="lote"
              required />
          </div>
          <div class="col-md-6 mb-3">
            <label for="tecnico" class="form-label">Técnico</label>
            <app-searchable-dropdown [(ngModel)]="controlExplotacion.tecnico" [options]="tecnicos"
              optionLabel="nombreCompleto" optionValue="id" placeholder="Seleccione un técnico" inputId="tecnico">
            </app-searchable-dropdown>
          </div>
          <div class="col-md-6 mb-3">
            <label for="representante" class="form-label">Representante</label>
            <input type="text" id="representante" class="form-control" [(ngModel)]="controlExplotacion.representante"
              name="representante" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="finca" class="form-label">Explotación</label>
            <app-searchable-dropdown [(ngModel)]="controlExplotacion.fincaId" [options]="fincas" optionLabel="nombre"
              optionValue="id" placeholder="Seleccione una finca" inputId="finca">
            </app-searchable-dropdown>
          </div>
          <div class="col-md-6 mb-3">
            <label for="titularExplotacion" class="form-label">Titular Explotación</label>
            <input type="text" id="titularExplotacion" class="form-control"
              [(ngModel)]="controlExplotacion.titularExplotacion" name="titularExplotacion" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="numeroRegistroDO" class="form-label">Registro Explotación</label>
            <input type="text" id="numeroRegistroDO" class="form-control"
              [(ngModel)]="controlExplotacion.numeroRegistroDO" name="numeroRegistroDO" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" id="fecha" class="form-control" [(ngModel)]="controlExplotacion.fecha" name="fecha"
              required />
          </div>
          <div class="col-md-6 mb-3">
            <label for="horaInicioVisita" class="form-label">Hora Inicio Visita</label>
            <input type="time" id="horaInicioVisita" class="form-control"
              [(ngModel)]="controlExplotacion.horaInicioVisita" name="horaInicioVisita" required />
          </div>
          <div class="col-md-6 mb-3">
            <label for="horaFinVisita" class="form-label">Hora Fin Visita</label>
            <input type="time" id="horaFinVisita" class="form-control" [(ngModel)]="controlExplotacion.horaFinVisita"
              name="horaFinVisita" required />
          </div>
          <div class="col-md-12 mb-3">
            <label for="descripcionCrotales" class="form-label">Series de Crotales</label>
            <input type="text" id="descripcionCrotales" class="form-control"
              [(ngModel)]="controlExplotacion.descripcionCrotales" name="descripcionCrotales" readonly />
          </div>
          <div class="col-md-6 mb-3">
            <label for="numCerdos" class="form-label">Número de Cerdos</label>
            <input type="number" id="numCerdos" class="form-control" [(ngModel)]="controlExplotacion.numCerdos"
              name="numCerdos" min="0" />
          </div>
          <div class="col-md-12 mb-3">
            <label for="alimentacionManejo" class="form-label">Alimentacion y Manejo</label>
            <textarea id="alimentacionManejo" class="form-control" [(ngModel)]="controlExplotacion.alimentacionManejo"
              name="alimentacionManejo"></textarea>
          </div>
          <div class="col-md-12 mb-3">
            <label for="manifestacionCompareciente" class="form-label">Manifiesto Compareciente</label>
            <textarea id="manifestacionCompareciente" class="form-control"
              [(ngModel)]="controlExplotacion.manifestacionCompareciente" name="manifestacionCompareciente"></textarea>
          </div>
          <div class="col-md-12 mb-3">
            <label for="otrasIndicaciones" class="form-label">Otras indicaciones</label>
            <textarea id="otrasIndicaciones" class="form-control" [(ngModel)]="controlExplotacion.otrasIndicaciones"
              name="otrasIndicaciones"></textarea>
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary me-2">Guardar</button>
          <button class="btn btn-primary me-2" (click)="descargarDocumento()">Descargar documento</button>
          <button type="button" class="btn btn-secondary" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>