<nav class="menu">
  <img src="assets/trazardo_icono.png" alt="Logo" class="menu-logo" />
  <li *ngIf="isAdmin"><a routerLink="/gestion-usuarios">Gestión de usuarios</a></li>
  <li *ngIf="isAdmin"><a routerLink="/gestion-tecnicos">Gestión de técnicos</a></li>
  <li *ngIf="isAdmin"><a routerLink="/gestion-explotaciones">Gestión de explotaciones</a></li>
  <li *ngIf="isAdmin"><a routerLink="/gestion-ganaderos">Gestión de ganaderos</a></li>
  <button (click)="logout()">Cerrar Sesión</button>

</nav>
