.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #198754;
  padding: 0rem;
}

.menu-logo {
  height: 40px;
  margin-right: 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.menu a.active {
  background-color: #555;
  border-radius: 5px;
}

.menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

li{
  list-style: none !important;
  }

  ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin-right: 1rem;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  button {
    margin-left: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
