<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header">
      <h3>Detalle del Lote: {{ lote?.lote }}</h3>
    </div>
    <div class="card-body">
      <!-- Información del lote -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Información del Lote</h5>
          <p><strong>Lote:</strong> {{ lote?.lote }}</p>
          <p><strong>Crotal Desde:</strong> {{ lote?.crotalDesde }}</p>
          <p><strong>Crotal Hasta:</strong> {{ lote?.crotalHasta }}</p>
          <p><strong>Localización Crotal:</strong> {{ lote?.localizacionCrotal | enumDisplay: 'localizacionCrotal' }}</p>
          <p><strong>Raza:</strong> {{ lote?.raza | enumDisplay: 'raza' }}</p>
        </div>
      </div>

      <!-- Acciones relacionadas -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Aforo de Montanera</h5>
          <a *ngIf="lote?.aforoMontanera?.id > 0" [routerLink]="['/aforo-montanera/editar-aforo-montanera']" [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Editar Aforo de Montanera
          </a>
          <a *ngIf="!lote?.aforoMontanera" [routerLink]="['/aforo-montanera/nuevo-aforo-montanera']" [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Crear Aforo de Montanera
          </a>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Acta de control de peso vivo</h5>
          <a *ngIf="lote?.actaControlPesoVivo?.id > 0" [routerLink]="['/control-peso-vivo/editar-control-peso-vivo']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Editar Acta de Control de Peso Vivo
          </a>
          <a *ngIf="!lote?.actaControlPesoVivo || lote.actaControlPesoVivo <= 0" [routerLink]="['/control-peso-vivo/nuevo-control-peso-vivo']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Crear Acta de Control de Peso Vivo
          </a>
          <!-- Repite para otras acciones -->
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Acta identificación Montanera</h5>
          <a *ngIf="lote?.actaIdentificacionMontanera?.id > 0" [routerLink]="['/identificacion-aforo-montanera/editar-identificacion-aforo-montanera']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Editar Acta de Identificación de Montanera
          </a>
          <a *ngIf="!lote?.actaIdentificacionMontanera || lote.actaIdentificacionMontanera <= 0" [routerLink]="['/identificacion-aforo-montanera/nuevo-identificacion-aforo-montanera']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Crear Acta de Identificación de Montanera
          </a>
          <!-- Repite para otras acciones -->
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Acta Entrada Montanera</h5>
          <a *ngIf="lote?.actaEntradaMontanera?.id > 0" [routerLink]="['/entrada-montanera/editar-entrada-montanera']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Editar Acta Entrada Montanera
          </a>
          <a *ngIf="!lote?.actaEntradaMontanera || lote.actaEntradaMontanera <= 0" [routerLink]="['/entrada-montanera/nuevo-entrada-montanera']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Crear Acta Entrada Montanera
          </a>
          <!-- Repite para otras acciones -->
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Acta Control de la Explotacion </h5>
          <a *ngIf="lote?.actaControlExplotacion0?.id > 0" [routerLink]="['/control-explotacion/editar-control-explotacion']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Editar Acta Control de la Explotacion 0
          </a>
          <a *ngIf="!lote?.actaControlExplotacion0 || lote.actaControlExplotacion0 <= 0" [routerLink]="['/control-explotacion/nuevo-control-explotacion']"
             [queryParams]="{ loteId: lote?.id, fincaId: lote?.finca, tecnicoId: lote?.tecnico?.id }">
            Crear Acta Control de la Explotacion 0
          </a>
          <!-- Repite para otras acciones -->
        </div>
      </div>


      <!-- Botón para regresar -->
      <div class="text-center">
        <button class="btn btn-secondary" (click)="goToFincas()">Regresar a Selección de Fincas</button>
      </div>
    </div>
  </div>
</div>
