@use "../node_modules/bootstrap/scss/bootstrap";
$primary: #053E2D; // Cambia el color primario
$secondary: #6c757d; // Cambia el color secundario
$success: #28a745; // Cambia el color de éxito
$info: #17a2b8; // Cambia el color de información
$warning: #ffc107; // Cambia el color de advertencia
$danger: #dc3545; // Cambia el color de error
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


body {
  font-family: 'Inter', sans-serif;
  background-color: #E4F2C9;
    margin: 0;
    padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
}

/* Style for card headers */
.card-header {
  background-color: #053E2D;
  color: #F0E1C0; /* Ensure the text is readable */
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.btn {
  background-color: #053E2D;
  color: #F0E1C0; /* Ensure the text is readable */
  border-radius: 5px;
  border: none; /* Remove default border */
}

.btn:hover {
  background-color: darken(#053E2D, 10%); /* Slightly darker shade on hover */
}
