<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header">
      <h3>Gestión de Explotaciones</h3>

    </div>
    <div class="card-body">

      <div class="row mb-4">
        <div class="col-md-4">
          <label for="nombreExplotacionFilter" class="form-label">Nombre Explotación</label>
          <input type="text" id="nombreExplotacionFilter" class="form-control" [(ngModel)]="filters.nombreExplotacion" (input)="applyFilters()" placeholder="Buscar por nombre explotación" />
        </div>
        <div class="col-md-4">
          <label for="nombreGanaderoFilter" class="form-label">Ganadero</label>
          <input type="text" id="nombreGanaderoFilter" class="form-control" [(ngModel)]="filters.nombreGanadero" (input)="applyFilters()" placeholder="Buscar por ganadero" />
        </div>
        <div class="col-md-4">
          <label for="terminoMunicipalFilter" class="form-label">Termino Municipal</label>
          <input type="text" id="terminoMunicipalFilter" class="form-control" [(ngModel)]="filters.terminoMunicipal" (input)="applyFilters()" placeholder="Buscar por termino municipal" />
        </div>
      </div>


      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Ganadero</th>
          <th>Hectáreas</th>
          <th>Teléfono</th>
          <th>Rega</th>
          <th>Término Municipal</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let explotacion of filteredExplotaciones">
          <td>{{ explotacion.nombre }}</td>
          <td>{{ explotacion.ganadero }}</td>
          <td>{{ explotacion.hectareas }}</td>
          <td>{{ explotacion.telefono }}</td>
          <td>{{ explotacion.rega }}</td>
          <td>{{ explotacion.termino_municipal }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editarExplotacion(explotacion.id)">Editar</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-success mt-3" (click)="crearExplotacion()">Crear Nueva Explotación</button>
    </div>
  </div>
</div>
